<!-- CDC staff -->


<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>街道人员</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = '../../static/CDCmain.css') }}" />

    </head>

    <body>
        <div class="row">
        <nav class="nav_left">
            <ul class="nav_left_bar" id="nav-ul">
                <li><h2>功能</h2></a></li>

                <li><a href="check_covid_result.html">阳性病例查询</a></li>
                <li><a href="inquire.html">居民信息查询</a></li>                                   
                <li><a href="{% url 'assign:admin_seat' %}">密接人群查询</a></li>
                <li><a href="{% url 'assign:admin_account' %}">密接人群查询2</a></li>
            </ul>
        </nav>

        <div class="div_right">
            <form method="post" action="inquire">
                
                <ul class="div_right_bar">
                    <h2>居民信息查询</h2>
                <li><label class="label_input">姓名:</label><input type="text" name="name" 
                        class="text_field" /></li>
                
                <li><label class="label_input">身份证号码:</label><input type="text" name="identity" 
                        class="text_field" /></li>
                
                <li><label class="label_input">地区:</label><select name="region">
                    <option value="0"></option>
                    <option value="1">街道1</option>
                    <option value="2">街道2</option>
                    <option value="3">街道3</option>
                    <option value="4">街道4</option>
                    </select></li>
                <li><button id="btn_search" style="cursor:pointer" type="submit">查找</button></li>  
                </ul>
            </form>
        </div>
    </div>
    </body>
</html>