<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>疾控中心工作人员</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = '../../static/CDCmain.css')}}" />

</head>

    <body>
  
        <nav class="nav_left">
            <ul class="nav_left_bar" id="nav-ul">
                <li><h2>功能</h2></a></li>

                <li><a href="check_covid_result.html">阳性病例查询</a></li>
                <li><a href="{{ url_for('CDC.CDCinquire_resident') }}">居民信息查询</a></li>
            </ul>
        </nav>
    </body>
</html>